# For production, use pinned versions. Here, I want to explore the most up to date libraries
--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchmetrics
lightning[extra]
tbparse

pytest
numpy
matplotlib
seaborn
pandas
natsort
tqdm

tensorboard
mlflow

opendatasets
datasets
medmnist
