# For production, use pinned versions. Here, I want to explore the most up to date libraries
--extra-index-url https://download.pytorch.org/whl/cu121
torch
lightning
numpy
matplotlib
seaborn
opendatasets
pandas